.textarea-container {
    position: relative;
}

.textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.textarea-container button {
    position: absolute;
    bottom: 0;
    right: 0;
}